@model Saturn_BugTracker.Models.Comment

<!-- START PAGE HEADING -->
<div class="app-heading app-heading-bordered app-heading-page">
    <div class="icon icon-lg">
        <span class="icon-laptop-phone"></span>
    </div>
    <div class="title">
        <h1>Saturn Manager</h1>
        <p>Welcome!</p>
    </div>
    <!--
    <div class="heading-elements">
        <a href="#" class="btn btn-danger" id="page-like"><span class="app-spinner loading"></span> loading...</a>
        <a href="https://themeforest.net/item/boooya-revolution-admin-template/17227946?ref=aqvatarius&license=regular&open_purchase_for_item_id=17227946" class="btn btn-success btn-icon-fixed"><span class="icon-text">$24</span> Purchase</a>
    </div>
    -->
</div>
<div class="app-heading-container app-heading-bordered bottom">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Application</a></li>
        <li><a href="@Url.Action("Details", "Projects", new { id = Model.Ticket.ProjectId })">Project</a></li>
        <li><a href="@Url.Action("Details", "Tickets", new { id = Model.TicketId })">Ticket</a></li>
        <li class="active">Edit Comment</li>
    </ul>
</div>
<!-- END PAGE HEADING -->

<!-- START CONTAINER -->
<div class="container">
    <!-- START ROW -->
    <div class="row">
        <!-- START COL-->
        <div class="col-md-8 col-md-offset-2">
            <!-- START BLOCK -->
            <div class="block">
                <!-- START BLOCK CONTENT -->
                <div class="block-content">
                    <h2 style="text-align:center;">Comment Edit</h2>
                    <hr />
                    <hr />

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.TicketId)
                            @Html.HiddenFor(model => model.AuthorId)
                            @Html.HiddenFor(model => model.Created)

                            <div class="form-group">
                                <div class="control-label col-md-2">
                                    Comment
                                </div>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Body, new { @class = "form-control", style="height:200px; width:100%; overflow-x:hidden;" } )
                                    @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div style="text-align:center">
                                    <input type="submit" class="btn btn-success" value="Save" />
                                    <a href="@Url.Action("Details", "Tickets", new { id = Model.Ticket.Id })" class="btn btn-primary">Return</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- END BLOCK CONTENT -->
            </div>
            <!-- END BLOCK -->
        </div>
        <!-- END COL-->
    </div>
    <!-- END ROW -->
</div>
<!-- END CONTAINER -->