@model Saturn_BugTracker.Models.IndexViewModel

<!-- START PAGE HEADING -->
<div class="app-heading app-heading-bordered app-heading-page">
    <div class="icon icon-lg">
        <span class="icon-laptop-phone"></span>
    </div>
    <div class="title">
        <h1>Saturn Manager</h1>
        <p>Welcome!</p>
    </div>
    <!--
    <div class="heading-elements">
        <a href="#" class="btn btn-danger" id="page-like"><span class="app-spinner loading"></span> loading...</a>
        <a href="https://themeforest.net/item/boooya-revolution-admin-template/17227946?ref=aqvatarius&license=regular&open_purchase_for_item_id=17227946" class="btn btn-success btn-icon-fixed"><span class="icon-text">$24</span> Purchase</a>
    </div>
    -->
</div>
<div class="app-heading-container app-heading-bordered bottom">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Application</a></li>
        <li class="active">My Account</li>
    </ul>
</div>
<!-- END PAGE HEADING -->

<!-- START CONTAINER -->
<div class="container">
    <!-- START ROW -->
    <div class="row">
        <!-- START COL-->
        <div class="col-md-8 col-md-offset-2">
            <!-- START BLOCK -->
            <div class="block">
                <!-- START BLOCK CONTENT -->
                <div class="block-content">
                    <h2 style="text-align:center">My Account</h2>

                    <p class="text-success">@ViewBag.StatusMessage</p>
                    <div>
                        <h4>Change your account settings</h4>
                        <hr />
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td>My Info</td>
                                    <td style="text-align:center">@Html.ActionLink("Change Info", "ChangeName", null, new { @class = "btn btn-primary", style = "width: 153px" })</td>
                                </tr>
                                <tr>
                                    <td>Password</td>
                                    <td style="text-align:center">
                                            @Html.ActionLink("Change Password", "ChangePassword", null, new { @class = "btn btn-primary", style = "width: 153px" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align:center">
                            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Home</a>
                        </div>
                    </div>
                </div>
                <!-- END BLOCK CONTENT -->
            </div>
            <!-- END BLOCK -->
        </div>
        <!-- END COL-->
    </div>
    <!-- END ROW -->
</div>
<!-- END CONTAINER -->